@model IEnumerable<RelatorioEmpresa.Domain.FuncionarioRepository>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.DropDownList("CarregaDropDrown", "Selecione")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Andar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transporte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fim)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Andar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transporte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fim)
            </td>
           
        </tr>
    }

</table>
